# Virtual Environment
env/
venv/
ENV/

# Database
# db.sqlite3

# Python
__pycache__/
datakelurahan/__pycache__
*.pyc
*.pyo
*.pyd
.Python
.ipynb_checkpoints
data_kelurahan/__pycache__/
warga/__pycache__/